.container {
  display: grid;
  grid-template-columns: 380px 1fr;
  height: 90vh;
}

.sidebar {
  width: 380px;
  background-color: #f0f0f0;
}

.topbar {
  display: flex;
  justify-content: flex-end;
}

.main {
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }
}