.container {
  display: grid;
  grid-template-columns: max(350px, 20%) 1fr;
  height: 90vh;
}

.sidebar {
  width: 100%;
  background-color: #f4f5f5;
}

.stepFooter{
  height: 5px;
  background-color: #c2e5f8;
}

.stepHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1px 0 10px;
  background-color: #c2e5f8;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #f4f5f5;
}

.main {
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }
}